# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS stuff
.DS_Store

# Env files
.env
.env.local

# Build output
/dist
/build

# VSCode settings
.vscode

/node_modules
